[Unit]
Descryption=Put rss feeds on mirror
After=network.target

[Service]
Type=onehsot
# Edit this to use
#ExecStart=/usr/bin/rsync -a /home/almalinux/feeds/ alma.acidman.thelefty.org:/tank0/feeds

[Install]
WantedBy=default.target
