[Unit]
Description=Put rss feeds on mirror
After=network.target
Wants=alpr-rss-merge.service

[Service]
Type=oneshot
WorkingDirectory=/home/almalinux/almalinux-package-rss
ExecStart=/usr/bin/flock -w 30 ./feeds/.lockfile -c "/usr/bin/rsync -a ./feeds/ alma.acidman.thelefty.org:/tank0/almalinux-feeds"

[Install]
WantedBy=default.target
