[Unit]
Description=Put rss feeds on mirror
After=network.target
Wants=alpr-rss-merge.service

[Service]
Type=oneshot
# Edit this to use
ExexStartPre=/bin/sleep 7
ExecStart=/usr/bin/rsync -a /home/almalinux/almalinux-package-rss/feeds/ alma.acidman.thelefty.org:/tank0/almalinux-feeds

[Install]
WantedBy=default.target
