[Unit]
Description=Generate RSS Feed for AlmaLinux %I package releases
After=network.target

[Service]
Type=oneshot
ExecStart=docker run --rm -v /home/almalinux/almalinux-package-rss/feeds:/app/output alpr/%i

[Install]
WantedBy=default.target
